CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
FASTAPI_CONFIG=development
FIRECRAWL_API_KEY=ADD-YOUR-OWN-FIRECRAWL-API-KEY
OPENAI_API_KEY=ADD-YOUR-OWN-OPENAI-API-KEY
PINECONE_API_KEY=ADD-YOUR-OWN-PINECONE-IO-API-KEY
PINECONE_INDEX_NAME=ADD-YOUR-OWN-PINECONE-IO-INDEX-NAME
